<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>2020-02</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" style="background-image: #614ffb">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar"
			style="background-image: linear-gradient(180deg, #614ffb 10%, #fdd7fc 97%)">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/pets/index}">
				<div class="sidebar-brand-icon">
					<img th:src="@{/img/logopet.png}" style="width: 150%; height: 150%" /></i>
				</div>
				<div class="sidebar-brand-text mx-3">PetGuard</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">



			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded="false"
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/customers/list}">Clientes</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/keepers/list}">Cuidadores</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/pets/list}">Mascotas</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/reserves/list}">Reserva</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/users/list}">Gestión de
							usuarios</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/bankings/list}">Gestionar entidades bancarias</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/pays/list}">Gestionar métodos de pago</a>
					</div>
				</div></li>


			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Sidebar Toggler (Sidebar) -->


		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->


					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a></li>
					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Mascota</h1>

					<form th:action="@{/pets/save}" th:object="${pet}" method="post" enctype="multipart/form-data"
						style="font-family: var(- -bs-font-sans-serif); font-size: .875rem; font-weight: 400">

						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label">Nombre
								de mascota</label>
							<div class="col-sm-6">
								<input type="text" pattern="[A-Za-z]+$"
									title="Sólo se permite letras" th:field="*{name}"
									class="form-control" required/>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="breed" class="col-sm-2 col-form-label">Raza</label>
							<div class="col-sm-6">
								<select name="breed" class="form-control" id="breed" required>
									<option value="">Elegir raza de mascota</option>
									<option value="Labrador">Labrador</option>
									<option value="Pastor Alemán">Pastor Alemán</option>
									<option value="Yorkshire">Yorkshire</option>
									<option value="Beagle">Beagle</option>
									<option value="Golden Retriever">Golden Retriever</option>
									<option value="Chihuahua">Chihuahua</option>
									<option value="Pequinés">Pequinés</option>
									<option value="Bulldog">Bulldog</option>
									<option value="Rottweiler">Rottweiler</option>
									<option value="Pug">Pug</option>
									<option value="Shar Pei">Shar Pei</option>
									<option value="Husky">Husky</option>
									<option value="Mestizo">Mestizo</option>
								</select>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="edadMascota" class="col-sm-2 col-form-label">Edad</label>
							<div class="col-sm-6">
								<input type="text" pattern="[0-9]+"
									title="Sólo se permite números" th:field="*{years}"
									class="form-control" required/>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('years')}" th:errors="*{years}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="pesoMascota" class="col-sm-2 col-form-label">Peso</label>
							<div class="col-sm-6">
								<input type="text" pattern="^[1-9][.\d]*(,\d+)?$"
									title="Sólo se permite números" th:field="*{weight}"
									class="form-control" required/>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" />
							</div>
						</div>

						<div class="form-group row">
							<label  for="gender" class="col-sm-2 col-form-label">Sexo</label>
							<div class="col-sm-6">
								<select name="gender" class="form-control" id="gender" required>
								<option value="">Elegir raza de mascota</option>
									<option value="Macho">Macho</option>
									<option value="Hembra">Hembra</option>
								</select>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="customer" class="col-sm-2 col-form-label">Cliente:</label>
							<div class="col-sm-6">
								<select required class="form-control" th:field="*{customer.idCustomer}">
									<option value="0" selected disabled>Elegir dueño de
										mascota</option>
									<option th:each="l: ${listaClientes}"
										th:value="${l.idCustomer}"
										th:text="${l.name + ' '+l.lastname}"
										th:selected="(${l.idCustomer} == *{customer.idCustomer})"></option>
								</select>
								<p class="alert alert-danger"
									th:if="${#fields.hasErrors('customer')}"
									th:errors="*{customer}" />
							</div>
						</div>
						<div class="form-group row">
							<label for="file" class="col-sm-2 col-form-label ">Foto:</label>
							<div class="col-sm-6">
								<input type="file" name="file" class="form-control"
									th:text="${pet.foto}" required="required" />
							</div>
						</div>


						<div class="form-group row">
							<div class="col-sm-6">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
									type="submit" value="Guardar" class="btn btn-dark"
									style="background-color: #8062ff; border-color: white"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="/pets/list" class="btn btn-dark"
									style="background-color: #8062ff; border-color: white">Cancelar</a>
							</div>
						</div>
						<p th:text="${mensaje}" class="form-text text-danger"></p>
					</form>




				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Web 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Listo para
						salir?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Cerrar sesión" a
					continuación si está listo para finalizar su sesión actual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" th:href="@{/categories/index}">Cerrar
						Sesión</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
