<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>2020-02</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" style="background-image: #614ffb">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar"
			style="background-image: linear-gradient(180deg, #614ffb 10%, #fdd7fc 97%)">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/reserves/index}">
				<div class="sidebar-brand-icon">
					<img th:src="@{/img/logopet.png}" style="width: 150%; height: 150%" /></i>
				</div>
				<div class="sidebar-brand-text mx-3">PetGuard</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">



			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded="false"
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/customers/list}">Clientes</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/keepers/list}">Cuidadores</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/pets/list}">Mascotas</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/reserves/list}">Reserva</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/users/list}">Gestión de
							usuarios</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/pays/list}">Gestionar
							métodos de pago</a>
					</div>
				</div></li>


			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Sidebar Toggler (Sidebar) -->


		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->


					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a></li>
					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Reservas</h1>

					<!-- <tbody>
						<tr th:each="r: ${listaReserva}">
							<td th:text="${r.hour*10}"></td>

						</tr>
					</tbody> -->

					<form th:action="@{/reserves/save}" th:object="${reserve}"
						method="post" style="font-family: var(--bs-font-sans-serif);font-size: .875rem; font-weight: 400">

<!-- 
						<div class="form-group row">
							<label for="id" class="col-sm-2 col-form-label">Id</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{idReserva}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('idReserva')}"
									th:errors="*{idReserva}"></small>
							</div>
						</div> -->

						<div class="form-group row">
							<label for="customer" class="col-sm-2 col-form-label">Cliente:</label>
							<div class="col-sm-6">
								<select class="form-control" 
										th:field="*{customer.idCustomer}">
									<option value="0" selected disabled>Elegir cliente</option>
									<option th:each="l: ${listaClientes}" 
										th:value="${l.idCustomer}" th:text="${l.name + ' '+l.lastname}"
										th:selected="(${l.idCustomer} == *{customer.idCustomer})"></option>
								</select>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('customer')}" 
									th:errors="*{customer}" />
							</div>
						</div>
						
						
						<div class="form-group row">
							<label for="keeper" class="col-sm-2 col-form-label">Cuidador:</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{keeper.idKeeper}">
									<option value="0" selected disabled>Elegir cuidador</option>
									<option th:each="l: ${listaCuidadores}"
										th:value="${l.idKeeper}" th:text="${l.name+ ' '+l.lastname}"
										th:selected="(${l.idKeeper} == *{keeper.idKeeper})"></option>
								</select>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('keeper')}" 
									th:errors="*{keeper}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="pay" class="col-sm-2 col-form-label">Medio de pago:</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{pay.idPay}">
									<option value="0" selected disabled>Elegir medio de pago</option>
									<option th:each="l: ${listaMedioPagos}" 
										th:value="${l.idPay}" th:text="${l.name + ' '+ l.entity}"
										th:selected="(${l.idPay} == *{pay.idPay})"></option>
								</select>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('pay')}" 
									th:errors="*{pay}" />
							</div>
						</div>



						<div class="form-group row">
							<label for="card" class="col-sm-2 col-form-label">Número
								de Tarjeta: </label>
							<div class="col-sm-6">
								<input type="text" th:field="*{card}" 
								class="form-control"/>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('card')}" 
									th:errors="*{card}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="site" class="col-sm-2 col-form-label">Dirección: </label>
							<div class="col-sm-6">
								<input type="text" th:field="*{site}" 
								class="form-control"/>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('site')}" 
									th:errors="*{site}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="date" class="col-sm-2 col-form-label">Fecha de reserva: </label>
							<div class="col-sm-6">
								<input type="date" th:field="*{date}" 
								class="form-control"/>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('date')}" 
									th:errors="*{date}" />
							</div>
						</div>

						<div class="form-group row">
							<label for="hour" class="col-sm-2 col-form-label">Cantidad
								horas para cuiado de mascota: </label>
							<div class="col-sm-6">
								<input type="text" th:field="*{hour}" 
								class="form-control"/>
								<p class="alert alert-danger" 
									th:if="${#fields.hasErrors('hour')}" 
									th:errors="*{hour}" />
							</div>
						</div>


<!-- 						<div class="form-group row"> -->
<!-- 							<label for="salary" class="col-sm-2 col-form-label">Tarifa de cuidador: </label> -->
<!-- 							<div class="col-sm-6"> -->
<!-- 								<output th:each="l: ${listaCuidadores}" -->
<!-- 										th:value="${l.salary}" -->
<!-- 								class="form-control"> </output> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<!--  
						<div class="form-group row">
							<label for="price" class="col-sm-2 col-form-label">Costo total a pagar: </label>
							<div class="col-sm-6" th:with="price=0">
								<output th:each="l: ${listaCuidadores}"
								th:field="*{price}"
								th:with="price=${hours * l.salary}"></output>
								<p th:text="${price}"></p>
							</div>
							
						</div>
-->
						<div class="form-group row">
							<div class="col-sm-6">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
									type="submit" value="Guardar" class="btn btn-dark"
									style="background-color: #8062ff; border-color: white"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="/reserves/list" class="btn btn-dark"
									style="background-color: #8062ff; border-color: white">Cancelar</a>
							</div>
						</div>
						<p th:text="${mensaje}" class="form-text text-danger"></p>

					</form>





				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Web 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Listo para
						salir?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Cerrar sesión" a
					continuación si está listo para finalizar su sesión actual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" th:href="@{/categories/index}">Cerrar
						Sesión</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>

